body { margin-left: 20px; margin-top: 40px;  background-color: #ffffff;  }

#header {margin-top: -5px; margin-bottom: 5px;  font-family: antenna; font-size: 30px;}

.slideshow { position: relative; margin: 3px 0px 30px 0px; width: 1236px;  height: 650px; overflow: hidden;}

.slide { display: none; position: absolute;  width: 100%; height: 100%; transition: all 2500ms; }

.slide.active {display: block; }

.slide img  { width: 100%; }

.btn {position: relative; display: inline-block; font-family: antenna; Arial; color: #ffffff; font-size: 15px; background: #D3D3D3; padding: 3px 157px 0px 20px; text-decoration: none; margin-right: -2px; margin-top: -20px;}

.btn:hover { background: #ff6600;  text-decoration: none; }

.picture { width: 1236px;  height: 450px}

.about img { position: relative; width: 1236px; height: 550px; margin: 3px 0px 0px 0px;}

.aboutxt {position: absolute; font-size: 20px; margin-top: -558px; margin-left: 30px; font-family: antenna; color: #ffffff;}

.aboutxt1 {position: absolute; font-size: 20px; margin-top: -400px; margin-left: 500px; font-family: antenna; color: #ffffff;}

ul p {margin-left: -22px; margin-top: 2px; font-size: 13px}

#space {margin-top: -13px; color:#ffffff;}

.thumbnails img {
        height: 160px; width: 172px;
        margin: 0px 1.3px 0px 0;}

a:link {
    text-decoration: none; color:#ffffff;
}

a:visited {
    text-decoration: none; color:#ffffff;
}

a:hover {
    text-decoration: underline; color:#ffffff;
}

a:active {
    text-decoration: underline; color:#ffffff;
}